{% load staticfiles %}



   <!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">


  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
  <div class="menu">
    <ul>
       <li><a style="font-size:20px;">TESTO </a></li>
        <li><a href="{% url 'products_list' %}">Home</a></li>
        <li><a href="{% url 'orders_list' %}">Orders</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          <li><a>{{ request.user.username }}</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Register</a></li>
          <li><a href="{% url 'auth_login' %}"  role="button" aria-expanded="false">Login </a></li>
        {% endif %}

    </ul>
  </div>
    <!--<div class="dropdown">-->
      <!--<button type="button" class=" dropdown-toggle" data-toggle="dropdown"  aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only" style="color:red;">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--Menu-->
      <!--</button>-->

      <ul class="nav navbar-nav">
        <li><a style="font-size:20px;">TESTO </a></li>
        <li><a href="{% url 'products_list' %}">Home</a></li>
        <li><a href="{% url 'orders_list' %}">Orders</a></li>
      </ul>
    <!--</div>-->


      <ul class="nav navbar-nav navbar-right">
      <!--<li>-->
          <!--<a href="#"><i class="fa fa-shopping-cart navbar-cart"><span class="badge">0</span> </i></a>-->
      <!--</li>-->
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          <li><a>{{ request.user.username }}</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Register</a></li>
        {% endif %}


      {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
          <li class="dropdown">
              <!--<a href="{% url 'auth_login' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>-->
              <a href="{% url 'auth_login' %}"  role="button" aria-expanded="false">Login </a>
              <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li>-->
                      <!--<form class='navbar-form ' method='POST' action='{% url "auth_login" %}'>-->
                          <!--{% csrf_token %}-->
                          <!--<div class='form-group'>-->
                              <!--<input type='text' class='form-control' name='username' placeholder='Username' />-->
                          <!--</div>-->
                          <!--<div class='form-group'>-->
                              <!--<input type='password' class='form-control' name='password' placeholder='Password' />-->
                          <!--</div>-->
                          <!--<button type='submit' class='btn btn-default btn-block'>Login</button>-->
                          <!--<p class="text-center"><a href="{% url 'auth_password_reset' %}">Forgot Password</a></p>-->
                      <!--</form>-->
                 <!--</li>-->
              <!--</ul>-->
          </li>
            <!--EXAMPLE EXAMPLE-->

      {% endif %}
    </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>